<div class="site-content">
  <div class="row">
    <div class="col col-12">
        <div class="box">
        <div class="box-padded">
          <h1>Prototype Test</h1>
            <p>Hi there! {{testHelpers}}</p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
        <div class="col col-6">
            {{> partials/include/test-partial}}
        </div>
        <div class="col col-6">
            {{> partials/include/test-another-partial}}
        </div>
    </div>
</div>
