<div class="box-bumper">
    <button class="btn btn-text-sub-action btn-med" data-control="toggle" data-expand-text="<span class='btn-label'>Show More</span>" data-collapse-text="<span class='btn-label'>Show Less</span>" data-content-id="{{id}}">
        <span class="btn-label">Show More</span>
    </button>
</div>
