<div id="{{id}}" class="content-slider {{classes}}" data-control="content-slider">
    <button class="btn btn-utility btn-med btn-round btn-no-margin prev">
        <span class="btn-label"><i class="icon icon-toggle270"></i></span>
    </button>
    <button class="btn btn-utility btn-med btn-round btn-no-margin next">
        <span class="btn-label"><i class="icon icon-toggle90"></i></span>
    </button>
    <section class="content-slider-mask">
        <div class="row">{{> @partial-block}}</div>
    </section>
</div>