<div class="theme-map-marker marker marker-tooltip marker-cdd{{#if color}} marker-{{color}}{{/if}}">
	<i class="icon-stack">
		<i class="icon icon-circle-filled"></i>
    	<i class="icon icon-destinationalt"></i>
    </i>
</div>
