<tfoot>
<tr>
    <td colspan="2" class="align-right table-total">
        <hr class="hr-small hr-right">
        <h6 class="sub-header">{{i18nMsg "uitk_total"}}</h6>
        <h2 class="font-light">{{i18nCurrency amount locale=locale code=code round=round}}</h2>
    </td>
</tr>
</tfoot>