<div class="site-content">
  <div class="row">
    <div class="col col-12">
      <div class="box">
        <div class="box-padded">
          <h1>Prototype</h1>
          <p>Hi there!</p>
          <ul>
            {{#each users}}
              <li>{{name}}, {{age}}, {{gender}}</li>
              {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
