<div class="uitk-tooltip active-tooltip theme-map-marker show-arrow on top center marker marker-dot
{{#if price}} marker-price{{/if}}
{{#if soldOut}} marker-sold-out{{/if}}
{{#if color}} marker-{{color}}{{/if}}">
</div>
