<header class="modal-alert alert-text-{{alert}}">
    {{#if alertIcon}}<i class="icon-stack"><i class="modal-alert-icon icon icon-{{alertIcon}}"></i></i>{{/if}}
    <h1 class="modal-alert-title" id="{{id}}-title">{{alertTitle}}</h1>
</header>