<div class="modal-wrap{{#if dismiss}} modal-dismiss{{/if}}{{#if theme}} theme-{{theme}}{{/if}}" id="modal-{{id}}">
{{#with this}}
    {{!-- maven precompiler complains when this is not wrapped --}}
    {{> partials/uitk/modal-inner}}
{{/with}}
</div>
{{#if background}}
    {{> partials/uitk/modal-background}}
{{/if}}