<div class="box">
    <div class="box-padded">
        <ul class="menu-navigation">
            <li>
                <a href="#" data-control="menu" class="btn btn-med btn-action">
                    <span class="btn-label">Shop</span>
                </a>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#flights">Flights</a>
                        </li>
                        <li>
                            <a href="#hotels">Hotels</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="multi-category">
                <a href="#" data-control="menu" class="btn btn-med btn-action">
                    <span class="btn-label">Hello, Guest</span>
                </a>
                <div class="menu">
                    <dl>
                        <dt>Account Info</dt>
                        <dd>
                            <a href="#rewards">Favorites</a>
                        </dd>
                        <dd>
                            <a href="#sign_out">History</a>
                        </dd>
                        <dd>
                            <a href="#rewards">My Rewards</a>
                        </dd>
                        <dd>
                            <a href="#sign_out">Sign Out</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Account Info</dt>
                        <dd>
                            <a href="#rewards">Favorites</a>
                        </dd>
                        <dd>
                            <a href="#sign_out">History</a>
                        </dd>
                        <dd>
                            <a href="#rewards">My Rewards</a>
                        </dd>
                        <dd>
                            <a href="#sign_out">Sign Out</a>
                        </dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
</div>